.AddNewsPopUp {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 20px
}

.Overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(1,1,1, 0.4);
    z-index: 1;
}

.AddNewsPopUp div + div {
    margin-top: 5px;
}

.AddNewsPopUp input, .AddNewsPopUp button, .AddNewsPopUp textarea {
    padding: 5px;
    width: 100%;
    font-size: 14px;
    border-radius: 5px
}

.AddNewsPopUp input:focus::placeholder {
    color: transparent
}

.AddNewsPopUp button {
    background-color: steelblue;
    border-radius: 5px;
    font-weight: 900;
    border-radius: 10px;
}

.ErrorMessage {
    font-size: 14px;
    color: red
}