* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
}

input, button, textarea {
  outline: unset;
  border: unset;
  border: 1px solid #ccc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  cursor: pointer
}

main {
  max-width: 900px;
  margin: 0 auto;
}

button {
  background-color: steelblue;
  font-weight: 600;
  color: white;
  border-radius: 10px;
}